.App {
  text-align: center;
  background-color: red;

}

#app .characters-title {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: solid 1px white;
  margin-bottom: 10px;
}